.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font: black;
}

.App-link {
  color: #61dafb;
}

.Quote-container {
  min-height: 35px;
  min-width: 555px;
  width: 90%;
  margin: auto;
  background-color: rgb(218, 214, 214);
  font-size: 15px;
  vertical-align: center;
  padding-top: 8px;
}

.button {
  padding: 10px 25px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px #999;
  margin-right: 10px;
  margin-top: 5px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.Swanson-img {
  height: 500px;
  margin: auto;
  padding-left: 15px;
  padding-top: 4px;
}